label {
  display: block;
  margin-bottom: 10px;
  font-size: small;
}

button {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
}
input[type="number"] {
  outline: 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.password {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
}

.output {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
}
.warning {
  color: red;
  font-weight: bold;
  font-size: smaller;
}
