.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
}

.input-group,
.checkbox-group {
  margin-bottom: 20px; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: small;
}

input[type="number"],
.password {
  width: calc(100% - 16px); 
  padding: 8px;
}

button.generate-button {
  width: 100%;
  padding: 10px; 
  background-image: linear-gradient(90deg, #4b42ff, #8733f2);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button.generate-button:hover {
  background-color: #0056b3; /* Changed hover effect */
}

.output {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  gap: 15px;
  width: calc(100% - 20px) ;
}

.warning {
    color: #B13A41;
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}
