<div class="container">
  <h1>Password Generator</h1>

  <div class="input-group">
    <label for="length">Password Length:</label>
    <input
      type="number"
      id="length"
      class="password"
      [(ngModel)]="passwordLength"
      (keyup)="validateLength()"
      [ngStyle]="{
        'margin-bottom': !(warning && warning.type == WarningType.Password)
          ? '15px'
          : '5px'
      }"
      min="1"
      max="{{MAX_PASSWORD_LENGTH}}"
    />
    <p *ngIf="warning && warning.type === WarningType.Password" class="warning">
      {{ warning.message }}
    </p>
  </div>

  <div class="checkbox-group">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="includeAlphabets"
        (change)="validateOptions()"
      />
      Include Alphabets
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="includeNumbers"
        (change)="validateOptions()"
      />
      Include Numbers
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="includeSpecialChars"
        (change)="validateOptions()"
      />
      Include Special Characters
    </label>
  </div>

  <p *ngIf="warning && warning.type === WarningType.Validation" class="warning">
    {{ warning.message }}
  </p>
  <button (click)="generatePassword()" class="generate-button">
    Generate Password
  </button>

  <div *ngIf="!warning && generatedPassword" class="output">
    <div>{{ generatedPassword }}</div>
  </div>
</div>
